@import 'normalize.css';
@import 'fonts.css';
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
}

.container {
  max-width: 1441px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
.container--big {
  max-width: 100%;
  padding: 0 186px 0 87px;
  box-sizing: border-box;
}

.header {
  position: absolute;
  padding: 37px 0;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 10;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__change-lang {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.button {
  background-color: #DA5D24;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding: 19px 35px;
  outline: none;
  border: none;
  cursor: pointer;
}

.change-lang__list {
  padding: 18px;
  margin: 0;
  list-style: none;
  display: flex;
  background-color: #ffffff;
}
.change-lang__item + .change-lang__item {
  margin-left: 12px;
}
.change-lang__link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: rgba(6, 37, 91, 0.4);
  text-decoration: none;
  transition: 0.3s;
}
.change-lang__link--is-current, .change-lang__link:hover {
  color: #06255b;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.change-lang img {
  margin-right: 6px;
}

.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.menu__item + .menu__item {
  margin-left: 32px;
}
.menu__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #fff;
  text-decoration: none;
}

.hero {
  position: relative;
  min-height: 100dvh;
  overflow: hidden;
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 42%, 67% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0, 100% 42%, 67% 100%, 0% 100%);
}
.hero__content {
  position: relative;
  z-index: 100;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__row {
  display: flex;
  justify-content: flex-end;
}
.hero__right {
  width: 100%;
  padding-bottom: 45px;
  max-width: 550px;
  padding-right: 46px;
  box-sizing: border-box;
}
.hero:before {
  content: "";
  min-height: 50dvh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #06255b 0%, rgba(6, 37, 91, 0) 100%);
}
.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 50dvh;
  height: 100%;
  width: 50%;
  background: linear-gradient(-270deg, #06255b 0%, rgba(6, 37, 91, 0) 100%);
}
.hero__cube {
  position: absolute;
  top: 50%;
  right: -20%;
  height: 618px;
  width: 618px;
  background: rgba(218, 93, 36, 0.8);
  transform: rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}
.hero__cube:before, .hero__cube:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translate3d(0, 0, 0);
}
.hero__cube:before {
  top: -24px;
  left: 24px;
  border: 1px solid rgba(255, 124, 64, 0.8);
}
.hero__cube:after {
  top: 16px;
  left: -16px;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.abilities__row {
  display: flex;
  flex-wrap: wrap;
}
.abilities__col--w100 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.abilities__col:not(.abilities__col--w100) {
  margin: 30px 0 -5px;
}

.abilities-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 21px;
  line-height: 85%;
  text-align: center;
  color: #fff;
}
.abilities-item--type-1 {
  width: 151px;
  height: 151px;
}
.abilities-item--type-1:before, .abilities-item--type-1:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}
.abilities-item--type-1:before {
  border: 8px solid #fff;
  background: rgba(6, 37, 91, 0.7);
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.abilities-item--type-1:after {
  border: 1px solid #fff;
  opacity: 0.6;
  bottom: 28px;
  left: 0;
  z-index: -2;
  transform: rotate(45deg);
}
.abilities-item--type-2 {
  width: 124px;
  height: 124px;
  font-size: 22px;
}
.abilities-item--type-2:before, .abilities-item--type-2:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}
.abilities-item--type-2:before {
  border: 9px solid #06255b;
  background: rgba(6, 37, 91, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}
.abilities-item--type-2:after {
  opacity: 0.9;
  border: 1px solid #ff7c40;
  bottom: 0;
  right: 27px;
  z-index: -2;
  transform: rotate(45deg);
}
.abilities-item--type-3 {
  width: 177px;
  height: 177px;
  font-size: 24px;
}
.abilities-item--type-3:before, .abilities-item--type-3:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}
.abilities-item--type-3:before {
  border: 10px solid #da5d24;
  background: rgba(6, 37, 91, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}
.abilities-item--type-3:after {
  border: 1px solid #fff;
  transform: rotate(-45deg);
  opacity: 0.9;
  bottom: -29px;
  left: -1px;
  z-index: -2;
}

.services {
  position: relative;
  height: 1037px;
  z-index: 50;
}
.services::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #06255b;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 0% 116%, 67% 0);
          clip-path: polygon(0 0, 0% 116%, 67% 0);
}
.services__decor {
  position: absolute;
  height: 714px;
  width: 714px;
  background-color: #f7f9fc;
  top: -367px;
  right: -367px;
  transform: rotate(-45deg);
}
.services__formula {
  mix-blend-mode: darken;
  transform: rotate(45deg) translateX(170px) translateY(32px);
}